@mixin wrapper-base {
  border-radius: 8px;
  margin: 8px 0;
  max-width: 100%;
  width: fit-content;
  padding: 0 8px;
  overflow-x: auto;
}

.wrapperSent {
  @include wrapper-base;
  background-color: var(--vkui--color_background_accent);
  align-self: flex-end;
  color: var(--vkui--color_text_contrast)
}

.wrapperReceived {
  @include wrapper-base;
  background-color: var(--vkui--color_background_secondary);
}
