.wrapperReceived {
  border-radius: 8px;
  margin: 8px 0;
  width: fit-content;
  background-color: var(--vkui--color_background_secondary);
}


.typing {
  align-items: center;
  display: flex;
  height: 17px;
}

.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: var(--vkui--color_icon_medium);
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    filter: opacity(70%);
  }
  28% {
    transform: translateY(-6px);
    filter: opacity(40%);
  }
  44% {
    transform: translateY(0px);
    filter: opacity(20%);
  }
}
